<p class="pdetail"><span class="ptable">Mã đơn hàng: </span><%=order.idorder%></p>
<p class="pdetail"><span class="ptable">Tên khách hàng: </span><%=order.full_name%></p>
<p class="pdetail"><span class="ptable">Email: </span><%=order.email%></p> 
<p class="pdetail"><span class="ptable">Số điện thoại: </span><%=order.phone%></p> 
<p class="pdetail"><span class="ptable">Địa chỉ: </span><%=order.address%></p>
<p class="pdetail"><span class="ptable">Ngày mua: </span><%=order.createdAt.toLocaleString('vi-VN')%></p>
<p class="pdetail"><span class="ptable">Tổng tiền hóa đơn: </span><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(order.totalprice)%></p> 

<table id="table2" class="col-lg-12 table table-striped table-bordered">
    <thead>
        <tr>
            <th>TT</th>
            <th>Tên sản phẩm</th>
            <th>Ảnh</th>
            <th>Màu</th>
            <th>Tổng số lượng</th>
            <th>Giá</th>
        </tr>
    </thead> 
    <tbody >
    <% let count=1 %>
    <%for(x in orderdetail){%>
        <tr>
            <td><%= count++ %></td>
            <td><%=orderdetail[x].name%></td>
            <td><img width="30" height="30" src="/static/images/<%=orderdetail[x].img%>" /></td>
            <td><%=orderdetail[x].color%></td>
            <td><%=orderdetail[x].qty%></td>
            <td><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(orderdetail[x].price)%></td>
        </tr>
        <%}%>
    </tbody>
</table>
<hr>
