<div id="divpagination" class="panel-footer">
    <nav  aria-label="Page navigation example">
        <ul  class="pagination">
            <%if(page > 1){%>
                <li class="page-item"><a class="page-link" href="/admin/users/?page=<%=page-1%>">&laquo;</a></li>
                <%}%>
                <%for(x in pages){%>
                <li class="page-item <%=pages[x]===page? 'active': ''%>"><a class="page-link" href="/admin/users/?page=<%=pages[x]%>"><%=pages[x]%></a></li>
                <%}%>
                <%if(page < totalPage){%>
                <li class="page-item"><a class="page-link" href="/admin/users/?page=<%=page+1%>">&raquo;</a></li>
                <%}%>
        </ul>
    </nav>
</div>