<!DOCTYPE html>
<html>
<head>
    <%- include('../layout/head.ejs', {title: "Danh sách bình luận" })%>

</head>

<body>
    <%- include('../layout/header.ejs') %>
		
	<%- include('../layout/sidebar.ejs') %><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Danh sách bình luận</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách bình luận</h1>
			</div>
		</div><!--/.row-->
		

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        <table id="example"
                            data-toolbar="#toolbar"
                            data-toggle="table">

						    <thead>
						    <tr>
                                <th >TT</th>
						        <th >Họ & Tên</th>
                                <th>Sản phẩm bình luận</th>
                                <th >Số sao</th>
                                <th>Nội dung</th>
                                <th>Hành động</th>
                                
						    </tr>
                            </thead>
                            <tbody id="divpagination">
                                <% let count=1 %>
                                <%for(x in comments){%>
                                <tr>
                                    <td style=""><%= count++ %></td>
                                    <td style=""><%=comments[x].full_name%></td>
                                    <td style=""><%=comments[x].name%></td>
                                    <td style=""><%=comments[x].rating%></td>
                                    <td style=""><%=comments[x].body%></td>
                                    
                                   
                                    <td class="form-group">
                                    
                                        <a href="" class="btn btn-danger"  data-id="<%=comments[x].id%>" data-title="<%=comments[x].full_name%>" data-toggle="modal" data-target="#delete-modal-dm"><i class="glyphicon glyphicon-remove" ></i></a>
                                    </>
                                </tr>
                               
                            <%}%>
                                
                            </tbody>
						</table>
                    </div>

                    <form name="delete-form-danhmuc" method="post"></form>

                    <div id="delete-modal-dm"class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div id="modal-title-name" class="modal-header">
                                <h5 class="modal-title">Bạn có muốn xóa bình luận của: <span id="spanproduct"></span> ?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button  id="btn-delete-form" type="button" class="btn btn-danger">Xóa bỏ</button>
                                </div>
                        </div>
                        </div>
                    </div>
                   
				</div>
			</div>
		</div><!--/.row-->	
	</div>	<!--/.main-->

	<%- include('../layout/footer.ejs')%>
    <script>
		
        document.addEventListener('DOMContentLoaded',function(){
            
            $('#delete-modal-dm').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget) 
              ids = button.data('id') 
            titles = button.data('title') 
            let modaltitlename = document.getElementById("spanproduct");
            modaltitlename.innerHTML = titles;
            })
        });
        var formdele = document.forms['delete-form-danhmuc'];
        var btndele = document.getElementById('btn-delete-form');
        
        btndele.onclick = function(){
            formdele.action='/admin/comments/delete/'+ids;
            formdele.submit();
            
        }
    </script>
    <script>
        $(document).ready(function() {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Hiện _MENU_ bình luận",
                "zeroRecords": "Không tìm kiếm được - Xin lỗi",
                "info": "Trang _PAGE_ của _PAGES_",
                "infoEmpty": "Không có bình luận nào",
                "infoFiltered": "(Lọc từ _MAX_ tổng số bình luận)"
        }
        });
        } );
    </script>
    <style>
        .dataTables_length{
            margin-top: 12px;
        }
        #example_filter{
            margin-top: 12px;
            margin-right: 12px;
        }
        th ,td{
		            text-align: center;
	    }
        #example_info{
            margin-left: 12px;
        }
        #example_paginate{
            margin-right: 12px;
        }
        #example_length{
            margin-left: 12px;
        }
        .ui-state-hightlight{
            border:1px dashed #ccc;
         }
        .modal-title{
            color: green;
            text-align: center;
            text-transform: uppercase capitalize;
            }
        #spanproduct{
            color:blue;
            text-transform: uppercase;
        }
        
    </style>



</body>

</html>
