<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("layout/head", {title: "Trang Chủ"})%>
    </head>

    <body>
        <!-- Top bar Start -->
        <%-include("layout/menu")%>
        <!-- Bottom Bar End -->
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    
                    <li class="breadcrumb-item active">Giỏ hàng</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                            <% if(totalCartItems==0){%>
                            <p>Giỏ hàng rỗng</p>
                            <% }%>
                           
                        <form  id="update-cart" method="post" action="/update-cart">
                            <% if(totalCartItems!=0){%>
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Màu</th>
                                            <th>Số lượng</th>
                                            <th>Thành tiền</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        <% for(let product of products){%>
                                        <% totalPrice += product.qty * product.price%>
                                        <% totalprd += product.qty %>
                                    
                                        <tr>
                                            <td>
                                                
                                                <div class="img">
                                                    <img src="/static/images/<%=product.img%>">
                                                    <p><%=product.name%></p>
                                                </div>
                                            </td>
                                            <td><%=product.price.toLocaleString('vi-VN')%>đ%></td>
                                            <td><%=product.color%>
                                            <input type="hidden" name="color" value=<%=product.color%>>
                                            <input type="hidden" name="id" value=<%=product.id%>>
                                            </td>
                                            <td>
                                                <div class="qty">
                                                    <button id="btnmul" type="submit" class="btn-minus" ><i class="fa fa-minus"></i></button>
                                                    <input name="products[<%=product.color%>][<%=product.id%>]" id="inputprice" class="inputprd" type="text"  value=<%=product.qty%> readonly="true" min="1">
                                                    <button id="btnadd" type="submit" class="btn-plus" ><i class="fa fa-plus" ></i></button>
                                                </div>
                                            </td>
                                            <td><%=(product.qty*product.price).toLocaleString('vi-VN')%>đ%></td>
                                            <td><a href="/del-cart-<%=product.id%>" class="btn"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        <% }%>
                                        
                                    </tbody>
                                </table>
                            <% }%>
                        </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Tóm tắt giỏ hàng</h1>
                                            <p>Tổng số lượng:<span><%=totalprd%> sản phẩm</span></p>
                                            <p>Phí ship:<span>Miễn phí</span></p>
                                            <h2>Tổng tiền<span><%=totalPrice.toLocaleString('vi-VN')%>đ%></span></h2>
                                        </div>
                                        <div class="cart-btn">
                                            
                                            <button>Thanh toán</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
        
        <!-- Footer Start -->
        <%-include("layout/footer")%>
        <script> 
            /* $(document).ready(function(){
                $('#update-cart').on('submit',function(event){
                    event.preventDefault();
                    const personData = $(this).serialize();
                    console.log(personData);

                    $ajax({
                        url:'/update-cart',
                        method:'post',
                        data:personData,
                        success: function(result,status,xhr){
                            console.log('ok');
                        },
                        error:function(result,status,xhr){
                            console.log('no');
                        },
                    })
                    
                })
            }); */
            $(function(){
               
                var dem = $('input.inputprd').length;
                
                for(var i = 0; i <= dem; i++){
                    var inputVal = $('input.inputprd').val()
                    if(inputVal==1){
                    $('.btn-minus').attr({
                        'disabled': 'true',
                        'style': 'background-color:rgb(120, 120, 120)'
                    });
                    
                }
            }
                
            });

            
                 
         </script>
    </body>
</html>
