<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("layout/head", {title: "Tất cả sản phẩm"})%>
    </head>

    <body>
        <!-- Top bar Start -->
        <%-include("layout/menu")%>
        <!-- Bottom Bar End -->  
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh sách <%=title%></li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-view-top">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="product-search">
                                                <input id="myInput" type="email" placeholder="Tìm kiếm tên sản phẩm" autocomplete="off">
                                                <button><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-4">
                                            <div class="product-price-range">
                                                <div class="dropdown">
                                                    <% if(sort==null){%>
                                                        <div class="dropdown-toggle" data-toggle="dropdown">Tìm theo giá điện thoại</div>
                                                    <% }%>
                                                    <% if(sort=='14'){%>
                                                        <div class="dropdown-toggle" data-toggle="dropdown">1tr đến 4tr</div>
                                                    <% }%>
                                                    <% if(sort=='48'){%>
                                                        <div class="dropdown-toggle" data-toggle="dropdown">4tr đến 8tr</div>
                                                    <% }%>
                                                    <% if(sort=='815'){%>
                                                        <div class="dropdown-toggle" data-toggle="dropdown">8tr đến 15tr</div>
                                                    <% }%>
                                                    <% if(sort=='gte15'){%>
                                                        <div class="dropdown-toggle" data-toggle="dropdown">trên 15 tr</div>
                                                    <% }%>
                                                   
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="/category-<%=category.title%>.<%=category.id%>" class="dropdown-item">Mọi giá</a>
                                                        <a href="/category-<%=category.title%>.<%=category.id%>?sort=14" class="dropdown-item">1tr đến 4tr</a>
                                                        <a href="/category-<%=category.title%>.<%=category.id%>?sort=48" class="dropdown-item">4tr đến 8tr</a>
                                                        <a href="/category-<%=category.title%>.<%=category.id%>?sort=815" class="dropdown-item">8tr đến 15tr</a>
                                                        <a href="/category-<%=category.title%>.<%=category.id%>?sort=gte15" class="dropdown-item">trên 15 tr</a>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div id="myTable" class="row">
                                    <% for(let product of products){%>
                                        <%- include("components/product-item", {product})%>
                                    <% }%>  
                                </div>
                            </div>
                            
                            
                        </div>
                        
                        <!-- Pagination Start -->
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <%if(page > 1){%>
                                        <li class="page-item"><a class="page-link" href="/category-<%=category.slug%>.<%=category._id%>/?page=<%=page-1%>">&laquo;</a></li>
                                        <%}%>
                                        <%for(x in pages){%>
                                        <li class="page-item <%=pages[x]===page? 'active': ''%>"><a class="page-link" href="/category-<%=category.title%>.<%=category._id%>/?page=<%=pages[x]%>"><%=pages[x]%></a></li>
                                        <%}%>
                                        <%if(page < totalPage){%>
                                        <li class="page-item"><a class="page-link" href="/category-<%=category.slug%>.<%=category._id%>/?page=<%=page+1%>">&raquo;</a></li>
                                        <%}%>
                                       
                                </ul>
                            </nav>
                        </div>

                        <!-- <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div> -->
                        <!-- Pagination Start -->
                    </div>           
                    
                    <!-- Side Bar Start -->
                    <%-include("layout/sidebar")%>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product List End -->  
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <% for(let x of advertisementsshare){%>
                    <div class="brand-item"><img src="/static/images/<%=x.thumbnail%>" alt=""></div>
                    <% }%>
                </div>
            </div>
           
        </div>
        <!-- Brand End -->
        
        <!-- Footer Start -->
        <%-include("layout/footer")%>
        <script>
            // Search Product
            $(document).ready(function() {
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable .col-md-4").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </body>
</html>
