<!DOCTYPE html>
<html>

<head>
    <%- include("../layout/head", {title: "Quản Lý Sản Phẩm" })%>
</head>

<body>

    <%- include("../layout/header")%>
        <%- include("../layout/sidebar")%>

            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="/admin"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li class="active">Danh sách sản phẩm</li>
                    </ol>
                </div>
                <!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Danh sách sản phẩm</h1>
                    </div>
                </div>
                <!--/.row-->
                <div id="toolbar" class="btn-group">
                    <a href="/admin/products/create" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table data-toolbar="#toolbar" data-toggle="table">

                                    <thead>
                                        <tr>
                                            <th data-field="id" data-sortable="true">ID</th>
                                            <th data-field="name" data-sortable="true">Tên sản phẩm</th>
                                            <th data-field="price" data-sortable="true">Giá</th>
                                            <th>Ảnh sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let count=1 %>
                                        <%for(x in products){%>
                                        <tr>
                                            <td style=""> <%= skip + count++ %></td>
                                            <td style=""><%=products[x].name%></td>
                                            <td style=""><%=products[x].price.toLocaleString('vi-VN')%> vnd</td>
                                            <td style="text-align: center"><img width="130" height="150"
                                                    src="/static/images/<%=products[x].thumbnail%>" /></td>
                                                                                        
                                            <td style=""><%=products[x].quantity%></td>
                                           <!--  <td><%=products[x].cat_id.title%></td> -->
                                            <td class="form-group">
                                                <a href="/admin/products/edit/<%=products[x]._id%>" class="btn btn-primary"><i
                                                        class="glyphicon glyphicon-pencil"></i></a>
                                                        <a  href="" class="btn btn-danger"  data-id="<%=products[x].id%>" data-title="<%=products[x].name%>" data-toggle="modal" data-target="#delete-modal-dm"><i class="glyphicon glyphicon-remove" ></i></a>
                                            </td>
                                        </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <%if(page > 1){%>
                                        <li class="page-item"><a class="page-link" href="/admin/products/?page=<%=page-1%>">&laquo;</a></li>
                                        <%}%>
                                        <%for(x in pages){%>
                                        <li class="page-item <%=pages[x]===page? 'active': ''%>"><a class="page-link" href="/admin/products/?page=<%=pages[x]%>"><%=pages[x]%></a></li>
                                        <%}%>
                                        <%if(page < totalPage){%>
                                        <li class="page-item"><a class="page-link" href="/admin/products/?page=<%=page+1%>">&raquo;</a></li>
                                        <%}%>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->

                <form name="delete-form-danhmuc" method="post"></form>

                <div id="delete-modal-dm"class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div id="modal-title-name" class="modal-header">
                        <h5 class="modal-title">Bạn có muốn xóa sản phẩm này: <span id="spanproduct"></span> ?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                          <button  id="btn-delete-form" type="button" class="btn btn-danger">Xóa bỏ</button>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>

            <!--/.main-->
            <script>
		
                document.addEventListener('DOMContentLoaded',function(){
                    $('#delete-modal-dm').on('show.bs.modal', function (event) {
                      var button = $(event.relatedTarget) 
                      ids = button.data('id') 
                    titles = button.data('title') 
                    let modaltitlename = document.getElementById("spanproduct");
                    modaltitlename.innerHTML = titles;
                    })
                });
                var formdele = document.forms['delete-form-danhmuc'];
                var btndele = document.getElementById('btn-delete-form');
                
                btndele.onclick = function(){
                    formdele.action='/admin/products/delete/'+ids;
                    formdele.submit();
                }
            </script>
            <style>
               th ,td{
		            text-align: center;
	            }
            
        </style>

            <%- include("../layout/footer")%>

</body>
<style>
	.ui-state-hightlight{
		border:1px dashed #ccc;
	}
	
	th ,td{
		text-align: center;
	}
	.modal-title{
		color: green;
		text-align: center;
		text-transform: uppercase capitalize;
	}
	#spanproduct{
		color:blue;
		text-transform: uppercase;
	}
	
</style>

</html>