<div id="divpagination" class="row">
    <div id="col12" class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="tabletotal" class="col-md-12">
                
                <%for(x in searchorders){%>
                    <% count2++ %>
                    <% totalproduct += searchorders[x].totalprd %>
                    <% totalprofit += (searchorders[x].totalprice -searchorders[x].totalimportprice) %>
                    <% totalorderamount += searchorders[x].totalprice %>

                <%}%>
                <h4 id="title">Bảng thống kê hóa đơn(<%=from1%> đến  <%=to1%>)</h4>
                 <p><span class="ptable">Tổng số hóa đơn: </span><%= count2 %> (hóa đơn)</p>
                <p><span class="ptable">Tổng số sản phẩm: </span><%=totalproduct%> (sản phẩm)</p> 
                <p><span class="ptable">Tổng số tiền đơn hàng: </span><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(totalorderamount)%></p> 
                <p><span class="ptable">Tổng số tiền lời: </span><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(totalprofit)%></p> 
                
                </div>
            </div>
        </div>
    </div><!-- /.col-->
    
<div id="totaltableprd" class="col-lg-12">
    <table id="example" class="col-lg-12 table table-striped table-bordered" >
        <thead>
            <tr>
                <th>TT</th>
                <th id="user">Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Ngày mua</th>
                <th>Thanh toán</th>
                <th>Tổng sản phẩm</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody >
                <% let count=1 %>
                <%for(x in searchorders){%>
                <tr>
                    <td><%= count++ %></td>
                    <td><%=searchorders[x].full_name%></td>
                    <td><%=searchorders[x].phone%></td>
                    <td><%=searchorders[x].address%></td>
                    <td><%=searchorders[x].createdAt.toLocaleDateString('vi-VN')%></td>
                    <td><% if(searchorders[x].payment=="Đã thanh toán cod"){%>
                        Cod
                    <% } else {%>
                        Vnpay
                    <% }%></td>
                    <td><%=searchorders[x].totalprd%></td>
                    <td><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(searchorders[x].totalprice)%></td>
                </tr>
            <%}%>
        </tbody>
        
    </table>
</div>
<div id="pstatistical" class="col-lg-12">
    <h4  id="hstatistical">Thống kê sản phẩm bán chạy từ ngày <%=from1%> đến ngày <%=to1%></h4>
</div>
<div id="tableprd2" class="col-lg-12">
<table id="table2" class="col-lg-12 table table-striped table-bordered">
    <thead>
        <tr>
            <th>TT</th>
            <th>Tên sản phẩm</th>
            <th>Ảnh</th>
            <th>Tổng số lượng</th>
            <th>Giá</th>
        </tr>
    </thead> 
    <tbody >
    <% let count3=1 %>
    <%for(x in allprdsort){%>
        <tr>
            <td><%= count3++ %></td>
            <td><%=allprdsort[x].name%></td>
            <td><img width="50" height="50" src="/static/images/<%=allprdsort[x].img%>" /></td>
            <td><%=allprdsort[x].qty%></td>
            <td><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(allprdsort[x].price)%></td>
        </tr>
        <%}%>
    </tbody>
</table>
</div>