<!DOCTYPE html>
<html>
<head>
	<%- include('../layout/head.ejs', {title: "Thống kê theo ngày" })%>
    
</head>

<body>
	<%- include('../layout/header.ejs') %>
		
	<%- include('../layout/sidebar.ejs') %><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
                <li><a href="/admin"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                
				<li class="active">Thống kê theo ngày </li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h4 id="rowtable" class="page-header">Thống kê theo doanh số theo khoảng thời gian: từ <input id="inputform" type="date"> đến <input id="inputto" type="date"></h4>
               
			</div>
            
        </div><!--/.row-->
        <div id="divpagination" class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="tabletotal" class="col-md-12">
                            
                            <%for(x in searchorders){%>
                                <% count2++ %>
                                <% totalproduct += searchorders[x].totalprd %>
                                <% totalprofit += (searchorders[x].totalprice -searchorders[x].totalimportprice) %>
                                <% totalorderamount += searchorders[x].totalprice %>

                            <%}%>
                            <p id="title">Bảng thống kê </p>
                         	<p><span class="ptable">Tổng số hóa đơn: </span><%= count2 %> (hóa đơn)</p>
							<p><span class="ptable">Tổng số sản phẩm: </span><%=totalproduct%> (sản phẩm)</p> 
							<p><span class="ptable">Tổng số tiền đơn hàng: </span><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(totalorderamount)%></p> 
							<p><span class="ptable">Tổng số tiền lời: </span><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(totalprofit)%></p> 
                            
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-->
				
			<div id="totaltableprd" class="col-lg-12">
				<table id="example" class="col-lg-12 table table-striped table-bordered" >
					<thead>
						<tr>
							<th>TT</th>
							<th>Tên khách hàng</th>
							<th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Ngày mua</th>
							<th>Tổng sản phẩm</th>
							<th>Tổng tiền</th>
						</tr>
					</thead>
					<tbody >
                            <% let count=1 %>
                            <%for(x in searchorders){%>
                            <tr>
                                <td><%= count++ %></td>
                                <td><%=searchorders[x].full_name%></td>
                                <td><%=searchorders[x].phone%></td>
                                <td><%=searchorders[x].address%></td>
                                <td><%=searchorders[x].createdAt.toLocaleDateString('vi-VN')%></td>
                                <td><%=searchorders[x].totalprd%></td>
                                <td><%=new Intl.NumberFormat("vi-VN", {style: "currency", currency: "VND"}).format(searchorders[x].totalprice)%></td>
                            </tr>
                        <%}%>
					</tbody>
					
				</table>
			</div>
        <div id="table2" class="col-lg-12">
            <table class="col-lg-12 table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Tổng sản phẩm</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead> 
                <tbody >
                    
                    <tr>
                        <td>fd</td>
                        <td>đ</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                    </tr>
               
            </tbody>
            </table>
        </div>

        </div><!-- /.row -->
			<%- include('../layout/footer.ejs')%>
	</div>	<!--/.main-->	
	<style>
		#inputdate{
            margin-left: 10px;
        }
        th{
            text-align: center;
        }
        td {
            text-align: center;
        }
        #totaltableprd{
            background-color: white;
            margin-left: 16px;
           
            padding-right: 1px;
        }
        .ptable{
			font-weight: bold;
			height: 120px;
			color: teal;
		}
        #title{
            text-align: center;
            font-weight: bold;
            font-size: medium;
            margin-bottom: 2px;
            color: tomato;
        }
        #example_filter{
            margin-top: 12px;
            margin-right: 22px;
        }
        #example_info{
            margin-left: 12px;
        }
        #example_paginate{
            margin-right: 22px;
        }
        #example_length{
            margin-top: 12px;
            margin-left: 12px;
        }
        #table2{
            margin-top: 20px;
        }
	</style>
    
	<script>
    document.addEventListener('DOMContentLoaded',function(){
     
        $(document).ready(function() {
			$('#example').DataTable();
		} );
        
       $("#inputto").change(function(){
            var from = $('#inputform').val();
            if(from=="")
            {
                from="2000-10-01";
                console.log("from"+from);
                var to = $(this).val();
                console.log("du lieu tai client khi nhap:"+to);
            $.ajax({
                async:false,
                type:"POST",
                url:"/admin/statisticsbytime1",
                contentType:"application/x-www-form-urlencoded",
                dataType:"html",
                data:{to,from},
                success:function(response){
                   /*  $("#tabletotal").replaceWith(response); */
                    $("#divpagination").replaceWith(response); 
                    $(document).ready(function() {
                        $('#example').DataTable();
                    } );
                    
                },
                error:function(xhr,ajaxOptions, thrownError){
                    alert("xay ra loi");
                }
            });
            } else{
                console.log("from"+from);
                var to = $(this).val();
                console.log("du lieu tai client khi nhap:"+to);
                    $.ajax({
                        async:false,
                        type:"POST",
                        url:"/admin/statisticsbytime1",
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        data:{to,from},
                        success:function(response){
                        /*  $("#tabletotal").replaceWith(response); */
                            $("#divpagination").replaceWith(response); 
                            $(document).ready(function() {
                                $('#example').DataTable();
                            } );
                            
                        },
                        error:function(xhr,ajaxOptions, thrownError){
                            alert("xay ra loi");
                        }
                    });
            }
           
       });

       $("#inputform").change(function(){
            var to1 = $('#inputto').val();
            console.log("from"+to1);
            if(to1==""){
                to1="3000-10-01"
                var from1 = $(this).val();
                console.log("du lieu tai client khi nhap:"+from1);
                $.ajax({
                    async:false,
                    type:"POST",
                    url:"/admin/statisticsbytime2",
                    contentType:"application/x-www-form-urlencoded",
                    dataType:"html",
                    data:{to1,from1},
                    success:function(response){
                    /*  $("#tabletotal").replaceWith(response); */
                        $("#divpagination").replaceWith(response); 
                        $(document).ready(function() {
                            $('#example').DataTable();
                        } );
                        
                    },
                    error:function(xhr,ajaxOptions, thrownError){
                        alert("xay ra loi");
                    }
                });
            } else {
                var from1 = $(this).val();
                console.log("du lieu tai client khi nhap:"+from1);
                $.ajax({
                    async:false,
                    type:"POST",
                    url:"/admin/statisticsbytime2",
                    contentType:"application/x-www-form-urlencoded",
                    dataType:"html",
                    data:{to1,from1},
                    success:function(response){
                    /*  $("#tabletotal").replaceWith(response); */
                        $("#divpagination").replaceWith(response); 
                        $(document).ready(function() {
                            $('#example').DataTable();
                        } );
                        
                    },
                    error:function(xhr,ajaxOptions, thrownError){
                        alert("xay ra loi");
                    }
                });
            }
            
       });

       
    })
	</script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                    "language": {
                    "lengthMenu": "Hiện _MENU_ đơn hàng",
                    "zeroRecords": "Không tìm kiếm ",
                    "info": "Trang _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có đơn hàng nào",
                    "infoFiltered": "(Lọc từ _MAX_ đơn hàng)"
                }
            });
        } );
    </script>
    
	<!-- <script>
		$('#btn-exit').click(function() {
		window.location.href = '/admin/ordertransport';
		return false;
		});
	</script> -->
</body>

</html>
